/* src/Footer.css */
footer {
    background-color: #004d99;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  